<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507704182082-kc9q2alflo8nlfeldoughd2fib7rjsju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507704182082-kc9q2alflo8nlfeldoughd2fib7rjsju</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ALaNfpeYZ1bQKkdRV1ZufYTcNfHXfOs</string>
	<key>GCM_SENDER_ID</key>
	<string>507704182082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IsZprA.NIBM-COVID19</string>
	<key>PROJECT_ID</key>
	<string>dai-prabhash-9630745</string>
	<key>STORAGE_BUCKET</key>
	<string>dai-prabhash-9630745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507704182082:ios:963f09aa3cc087ab86f4db</string>
	<key>DATABASE_URL</key>
	<string>https://dai-prabhash-9630745.firebaseio.com</string>
</dict>
</plist>